<!doctype html>
<html lang=en>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<title>{{.StatusCode}} {{httpStatusText .StatusCode}}</title>
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin=anonymous>
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css integrity="sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY=" crossorigin=anonymous>
<link rel=stylesheet href="https://fonts.googleapis.com/css?family=Raleway&amp;display=swap">
<link rel=stylesheet href="{{assetPath "/error.css"}}">
<main class=container>
<h1>{{.StatusCode}} {{httpStatusText .StatusCode}}</h1>
<p>{{.Message}}</p>
</main>